.products_container {
  margin-top: 13vh;
  height: 100vh;
  width: 100%;
  background-color: #0c2495;
  background-image: linear-gradient(43deg, #0c2495 0%, #c739fa 78%);
  position: relative;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products_container::after {
  content: "";
  opacity: 0.5;
  top: 0;
  display: block;
  height: 100%;

  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  background-image: url("../../../public/images/supergirl1.png");
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.products_box div {
  height: 50vh;
  width: 30%;
  background-color: red;
  position: absolute;
  right: 0;
  z-index: 1;
}
.products_box .box1 {
  background-color: #c55ee4;
  top: 0;
}
.products_box .box2 {
  background-color: #9e3de3;
  bottom: 0;
}
.products_items img {
  height: 100px;
}
.products_items {
  display: flex;
}
.products_container main {
  display: flex;
  flex-direction: column;
  /* max-width: 100%;
    height: 100%; */
  /* justify-content: center; */

  align-items: flex-start;
  z-index: 1;
}
.products_container main .products_title {
  font-family: "Playfair Display", serif;
  color: white;
}
.products_container ul {
  display: flex;
  margin: 5rem 0rem;
  margin-inline-start: -10px;
  flex-wrap: wrap;
}
.products_container li {
  color: rgba(255, 255, 255, 0.556);
  list-style: none;
  margin-left: 1rem;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
.products_container li:hover {
  color: white;
}
.products_container li:hover::after {
  content: "";
  opacity: 1;
  display: block;
  height: 2px;
  width: 100%;
  bottom: -30%;
 
  position: absolute;
  z-index: 2;
  background-color: rgb(243, 255, 239);
}
.nada {
  width: 0px;
  height: 0px;
  transition: 1s;
  transform: scale(0.8);
  visibility: hidden;
  overflow: hidden;
  display: none;
}
.nada img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.active {
  /* width: 200px;
  height: 200px; */
  transition: 1s;
  visibility: visible;
  /* transform: scale(1.2); */
  margin-left: 3rem;
  background-color: white;
  /* box-shadow: 0px 0px 14px 2px rgba(155, 154, 154, 0.471); */
  height: 300px;
  width: 16vw;
  z-index: 1;
}
.active h1 {
  color: #763ce2;
  font-size: min(1.2rem, 10vw);
  margin: 5px 0;
}
.active p {
  font-size: min(.7rem, 10vw);
  word-wrap: break-word;
  margin: 10px 0;
}

.active:first-child {
  width: -100%;
}

.active:last-child {
  width: -100%;
}
.active img {
  /* width: 60%;
  height: 120%;
  object-position: top; */

  /* transform: translateX(35%) translateY(-30%); */
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
  opacity: 1;
}
.slideText {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
}
.slideText .type{
    color: #9e3de3;
    font-size: min(.6rem,6vw);
}
.slideText .price{
  color: #cd33ec;
  -webkit-text-stroke: .3px rgb(0, 0, 0);
  font-weight: 600;
}
.slideText button{
     background-color: #c55ee4;
     border: none;
     color: white;
     padding: 5px 10px;
     font-size: min(.7rem,6vw);
     display:block;
     width: 70%;
     margin-top: 10px;
     cursor: pointer;
     
}
.slideText button:active{
  transform: scale(0.98);

}
.shadow {
  width: 60%;
  height: 130%;
  transform: translateX(35%) translateY(-30%);
  /* box-shadow: inset 20px 0px 10px #000000; */
  position: absolute;
  box-shadow: -10px 9px 16px -1px #000000b8;
}
.shadow .shadow1 {
  position: absolute;

  float: left;
  position: absolute;

  z-index: 20;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0px;
  /* text-shadow:13px 13px 2px #000;
      -moz-text-shadow:13px 1px 2px #000;
      -ms-text-shadow:1px 13px 2px #000;
      -o-text-shadow:1px 13px 2px #000;
      -webkit-text-shadow:13px 1px 2px #000; */
  box-shadow: inset 8px 0px 0px #00000085;
}
.shadow .shadow2 {
  position: absolute;

  position: absolute;

  z-index: 20;
  width: 10%;
  height: 100%;
  top: 0;
left: 8px;
  /* text-shadow:13px 13px 2px #000;
      -moz-text-shadow:13px 1px 2px #000;
      -ms-text-shadow:1px 13px 2px #000;
      -o-text-shadow:1px 13px 2px #000;
      -webkit-text-shadow:13px 1px 2px #000; */
  /* box-shadow: inset 8px 0px 0px 0px #0000005d;
  transform: rotate(180deg); */
  background-color: #ffffff00;
background-image: linear-gradient(90deg, #ffffff2b 0%, #00000073 100%);

}

.active .slideImg {
  width: 100%;
  height: 40%;
  background-color: #9e3de3;
  position: relative;
}

.products_btn{
    margin-top: 2rem;
}
.products_btn button{
    background-color: white;
  color: rgb(255, 0, 234);
  border: none;
  padding: 0.6rem;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .products_container {
    margin-top: 83vh;
  }
  .shadow {
  width: 60%;
  height: 110%;
  }
    .active:nth-child(2) {
    display: none;
  }
    .active:nth-child(5) {
    display: none;
  }
  .active {
  width: 22vw;
}
}
@media (max-width: 500px) {
    .active {
  width: 42vw;
  margin-left: 1rem;
}
.products_container main {
  display: flex;
  flex-direction: column;
  /* max-width: 100%;
    height: 100%; */
  /* justify-content: center; */

  align-items: flex-start;
  z-index: 1;
  padding-left: 1rem;
}
}
